<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/addUser.css">
    <title>изменить</title>
</head>
<body>
    {{> menuAdmin}}
    <main class="main">
        <form action="/admin/edit" method="POST" id="form">
            <fiedset class="input_cont">
                <div class="twin_input">
                    <div class="cont_label">
                        <label for="name">имя</label>
                        <input name="name" type="text" value="{{user.name}}" required>
                        <input type="hidden" name="id" value="{{user.id}}">
                    </div>
                    <div class="cont_label">
                        <label for="surname">фамилия</label>
                        <input name="surname" type="text" value="{{user.surname}}" required>                        
                    </div>
                </div>
                <div class="single_input">
                    <label for="parentsName">имя родителя</label>
                    <input name="parentsName" type="text" value="{{user.parentsName}}">
                </div>
            </fiedset>
            <fiedset class="input_cont">
                <div class="single_input">
                    <label for="parentsNumber">номер родителя</label>
                    <input name="parentsNumber" type="tel" value="{{user.parentsNumber}}">
                </div>
                <div class="single_input">
                    <label for="usersNumber">номер ученика</label>
                    <input name="usersNumber" type="tel" value="{{user.usersNumber}}">
                </div>
            </fiedset>
            <fiedset class="input_cont">
                <div class="single_input">
                    <label for="birthday">день рождения</label>
                    <input name="birthday" type="date" step="any" value="{{user.birthday}}">
                </div>
                <div class="twin_input">
                    <div class="cont_label">
                        <label for="dateStartTrialLesson">дата пробного занятия</label>
                        <input name="dateStartTrialLesson" type="date"  step="any" value="{{user.dateStartTrialLesson}}">
                    </div>
                    <div class="cont_label">
                        <label for="dateStartMainLesson">дата начала занятий</label>
                        <input name="dateStartMainLesson" type="date"  step="any" value="{{user.dateStartMainLesson}}">
                    </div>
                </div>
            </fiedset>
            <fiedset class="input_cont">
                <div class="twin_input">
                    <div class="cont_label">
                        <label for="payment">оплата</label>
                        <input name="payment" type="number" value="{{user.payment}}">
                    </div>
                    <div class="cont_label">
                        <label for="password">пароль</label>
                        <input name="password" type="password" required>
                    </div>
                    <div class="cont_label">
                        <label for="role">роль</label>
                        <input type="hidden" name="role" value="{{user.role}}" required>
                        <span class="select"></span>
                        <ul class="list-option">
                            <li class="option">ученик</li>
                            <li class="option">ментор</li>
                            <li class="option">админ</li>
                        </ul>
                    </div>
                </div>
            </fiedset>
            <input type="submit" value="изменить" class="submit">
        </form>
    </main>
</body>
</html>